.container {
  transform: rotateX(35deg);
  margin-top: 10em;
}

.container .row {
  display: flex;
  position: relative;
  justify-content: center;
}

.table {
  position: absolute;
  margin-top: 1em;
  transform: rotateX(40deg);
  max-width: 70%;
  z-index: -10;
}

.main {
  margin: 0 20px;
}

.cup {
  position: relative;
  z-index: 1;
}

.cup img {
  width: 90px;
}

.ball {
  width: 30px;
  height: 30px;
  background-image: url(../../../assets/images/ball.png);
  background-size: contain;
  border-radius: 15px;
  position: absolute;
  top: 80px;
  left: 30px;
  z-index: 0;
}

.points {
  position: absolute;
  top: 20px;
  left: 2em;
  border: 15px double #8181c2;
  border-radius: 4px;
  color: #ff0000;
  width: 80px;
  font-size: 1.2em;
  padding: 0 1em;
  text-align: center;
}

.points h3 {
  margin: 10px;
}

button.playBtn {
  position: absolute;
  top: 120px;;
  left: 2em;
  background-color: #007bff !important;
  color: #fff;
  font-size: 1.2em;
  padding: 1em 3em;
  border: none !important;
  outline: none !important;
}

.game-over {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  background-color: #6c757d !important;
  box-shadow: 18px 25px 25px #00000094;
  width: 700px;
  height: 300px;
  text-align: center;
  margin: auto;
  padding: 2em 0;
}

h2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 90px;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #022385);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-over button {
  background-color: #007bff !important;
  color: #fff;
  font-size: 1.2em;
  padding: 1em 3em;
  border: none !important;
  outline: none !important;
  margin-top: 2.5em;
}
